@media (hover: hover) {
	.nav__link:hover {
		color: var(--color-accent);
		transition: color var(--transition-duration) var(--transition-animation);
	}
	.nav__item-social:hover .nav__icon-social path {
		fill: var(--color-primary-900);
		transition: fill var(--transition-duration) var(--transition-animation);
	}
}
@media (max-width: 630px) {
	h1 {
		/* font-size: var(--font-size-h1-mobile); */
	}
	.container {
		padding: 0 var(--padding-container);
	}
	.logo {
		position: relative;
		z-index: 10;
	}
	.header {
		padding: 65px 0px 25px;
	}
	/* Burger Menu */
	.body.burger-body__open {
		overflow: hidden;
	}
	.body.burger-body__open > .wrapper {
		backdrop-filter: brightness(0.5);
		-webkit-backdrop-filter: brightness(0.5);
		transition: backdrop-filter var(--transition-duration) var(--transition-animation);
	}
	.burger-menu {
		position: relative;
		display: flex;
		flex-direction: column;
		gap: 7px;
		padding: 10px;
		cursor: pointer;
	}
	.burger-menu__item {
		display: inline-block;
		width: 20px;
		height: 2px;
		border-radius: 1px;
		background-color: var(--color-primary-900);
		transition: all var(--transition-duration) var(--transition-animation);
	}
	.burger-menu.burger__open .burger-menu__item:nth-child(1) {
		transform: rotate(45deg) translate(6px, 7px);
	}
	.burger-menu.burger__open .burger-menu__item:nth-child(2) {
		opacity: 0;
	}
	.burger-menu.burger__open .burger-menu__item:nth-child(3) {
		transform: rotate(-45deg) translate(6px, -7px);
	}
	.nav__lists {
		position: absolute;
		inset: -100% auto auto 0;
		display: flex;
		flex-direction: column;
		gap: 80px;
		width: 100%;
		padding: 188px var(--padding-container) 40px;
		background-color: var(--color-white);
		border-radius: 0 0 16px 16px;
		transition: top var(--transition-duration) var(--transition-animation);
	}
	.nav__lists.burger-list__open {
		top: 0;
	}
	.nav__list-links {
		flex-direction: column;
		gap: 20px;
	}
	.nav__list-socials {
		display: flex;
		gap: 20px;
	}
	.nav__icon-social {
		width: 40px;
		height: 40px;
	}
}
