@media (hover: hover) {
	.link--hover:hover {
		color: var(--color-accent);
		transition: color var(--transition-duration) var(--transition-animation);
	}
	.social__item:hover .social-icon path {
		fill: var(--color-primary-900);
		transition: fill var(--transition-duration) var(--transition-animation);
	}
	/* button-primary */
	.button-primary:hover .button__text-primary {
		background-color: var(--color-accent);
	}
	.button-primary:hover .button__img-primary {
		background-color: inherit;
		border: 1px solid var(--color-accent);
		border-radius: 60px;
	}
	.button-primary:hover .button__icon-primary {
		fill: var(--color-accent);
	}
	/* button-secondary */
	.button-primary:hover .button__text-primary {
		color: var(--color-white);
	}
	/* PORTFOLIO */
	.portfolio-footer__link:hover {
		color: var(--color-primary-900);
		border-color: var(--color-primary-900);
	}
}
@media (max-width: 1024px) {
	/* EDUCATION */
	.education__skills {
		scale: 0.7;
	}
	/* SERVICES */
	.services__cards {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media (max-width: 990px) {
	/* BIOGRAPHY */
	/* ABOUT */
	.about__info {
		width: 530px;
	}
}
@media (max-width: 900px) {
	/* MAIN */
	/* HERO */
	.hero {
		margin-bottom: 100px;
	}
	.hero__wrapper {
		gap: 70px;
	}
	.hero__img {
		width: 310px;
		height: 170px;
	}
	/* BIOGRAPHY */
	.biography {
		background-position: calc((100% - 35px) / 2) top;
	}
	/* ABOUT */
	.about__wrapper {
		flex-direction: column-reverse;
	}
	.about__info {
		width: 100%;
	}
	/* EDUCATION */
	.education__wrapper {
		flex-direction: column;
		gap: 60px;
	}
	.education__skills {
		scale: 1;
		background-size: 580px;
		max-width: 585px;
	}
	.education-skills__title {
		left: 210px;
	}
	.education__item:nth-child(1) {
		top: 140px;
		left: 135px;
	}
	.education__item:nth-child(2) {
		top: 40px;
		right: 155px;
	}
	.education__item:nth-child(3) {
		top: 220px;
		right: 85px;
	}
	.education__item:nth-child(4) {
		right: 65px;
	}
	.education__item:nth-child(5) {
		right: 275px;
		bottom: 35px;
	}
	.education__item:nth-child(6) {
		left: 40px;
	}
	/* PORTFOLIO */
	.portfolio__cards {
		grid-template-columns: repeat(2, 1fr);
	}
	/* CONTACTS */
	.contacts {
		background-position: calc((100% - 350px) / 2) 315px;
	}
}
@media (max-width: 630px) {
	h2 {
		font-size: var(--font-size-h2-mobile);
	}
	.container {
		padding: 0 var(--padding-container);
	}
	.logo {
		position: relative;
		z-index: 10;
	}
	/* HEADER */
	.wrapper {
		margin-top: 150px;
	}
	.header {
		padding: 65px 0px 25px;
	}
	/* Burger Menu */
	body.burger-body__open {
		overflow: hidden;
	}
	body.burger-body__open {
		background-color: rgba(0, 0, 0, 0.5);
		transition: background-color var(--transition-duration) var(--transition-animation);
	}
	.burger-menu {
		position: relative;
		display: flex;
		flex-direction: column;
		gap: 7px;
		padding: 10px;
		cursor: pointer;
	}
	.burger-menu__item {
		display: inline-block;
		width: 20px;
		height: 2px;
		border-radius: 1px;
		background-color: var(--color-primary-900);
		transition: all var(--transition-duration) var(--transition-animation);
	}
	.burger-menu.burger__open .burger-menu__item:nth-child(1) {
		transform: rotate(45deg) translate(6px, 7px);
	}
	.burger-menu.burger__open .burger-menu__item:nth-child(2) {
		opacity: 0;
	}
	.burger-menu.burger__open .burger-menu__item:nth-child(3) {
		transform: rotate(-45deg) translate(6px, -7px);
	}
	.nav__lists {
		max-height: 0;
		overflow: hidden;
		position: absolute;
		inset: 0 auto auto 0;
		display: flex;
		flex-direction: column;
		gap: 80px;
		width: 100%;
		padding: 0 var(--padding-container);
		background-color: var(--color-white);
		border-radius: 0 0 16px 16px;
		transition: max-height var(--transition-duration) var(--transition-animation);
	}
	.nav__lists.burger-list__open {
		max-height: 500px;
	}
	.nav__list-links {
		flex-direction: column;
		gap: 20px;
		padding-top: 140px;
	}
	.nav__list-socials {
		display: flex;
		padding-bottom: 40px;
	}
	/* HERO */
	.hero {
		margin-bottom: 80px;
	}
	.hero__wrapper {
		gap: 40px;
	}
	.hero__content {
		flex-direction: column;
		align-items: normal;
		gap: 40px;
	}
	.hero__info {
		max-width: 100%;
		gap: 60px;
	}
	.button-primary {
		width: 100%;
	}
	.button__text-primary {
		width: 100%;
	}
	.button__img-primary {
		padding: 17px 21px;
	}
	.hero__img {
		width: 100%;
		height: 221px;
		object-fit: cover;
		border-radius: 30px;
	}
	/* BIOGRAPHY */
	.biography {
		background-position: calc((100% - 35px) / 2) 520px;
		background-size: 486px 398.6px;
	}
	/* ABOUT */
	.about {
		padding: 0;
	}
	.about__wrapper {
		gap: 80px;
	}
	.about__images {
		width: 100%;
		height: 345px;
	}
	.about__img-1 {
		width: 142px;
		height: 146px;
	}
	.about__img-2 {
		top: 20px;
		width: 165px;
		height: 106px;
	}
	.about__img-3 {
		right: 90px;
		left: auto;
		width: 165px;
		height: 159px;
	}
	/* EDUCATION */
	.education__skills {
		background-size: 325px;
		height: 342px;
		max-width: 350px;
	}
	.education-skills__title {
		font-size: var(--font-size-h3-mobile);
		width: 83px;
		height: 83px;
		padding: 30px 20px;
		top: 130px;
		left: 135px;
	}
	.education__item:nth-child(1) {
		font-size: 6px;
		width: 47.5px;
		height: 47.5px;
		top: 70px;
		left: 80px;
	}
	.education__item:nth-child(2) {
		font-size: 6px;
		width: 42px;
		height: 42px;
		top: 5px;
		right: 115px;
	}
	.education__item:nth-child(3) {
		font-size: 6px;
		width: 72px;
		height: 72px;
		top: 80px;
		right: 50px;
	}
	.education__item:nth-child(4) {
		font-size: 6px;
		width: 57px;
		height: 57px;
		right: 25px;
		bottom: 55px;
	}
	.education__item:nth-child(5) {
		font-size: 6px;
		width: 68px;
		height: 68px;
		right: 145px;
		bottom: 35px;
	}
	.education__item:nth-child(6) {
		font-size: 6px;
		width: 53px;
		height: 53px;
		bottom: 80px;
		left: 15px;
	}
	/* PORTFOLIO */
	.portfolio {
		margin-bottom: 80px;
	}
	.portfolio__inner {
		position: relative;
		padding-bottom: 114px;
	}
	.portfolio__header {
		margin-bottom: 30px;
	}
	.portfolio__button {
		position: absolute;
		bottom: 0;
	}
	.portfolio__cards {
		grid-template-columns: repeat(1, 1fr);
		justify-items: center;
	}
	.portfolio__card {
		max-width: 350px;
	}
	/* SERVICES */
	.services {
		margin-bottom: 80px;
	}
	.services__title {
		margin-bottom: 30px;
	}
	.services__cards {
		grid-template-columns: repeat(1, 1fr);
	}
	/* CONTACTS */
	.contacts {
		background-position: calc((100% - 350px) / 2) 870px;
		background-size: 406px;
		padding-bottom: 80px;
	}
	.contacts__wrapper {
		grid-template-columns: 1fr;
	}
	.contacts__social {
		max-width: 100%;
		margin-bottom: 60px;
	}
	.contacts__social,
	.contacts__feedback,
	.contacts__info {
		grid-area: auto;
	}
	.contacts__feedback {
		margin-bottom: 60px;
	}
	/* FOOTER */
	.footer {
		padding: 20px 0px 20px;
	}
	.footer__wrapper {
		flex-direction: column;
		gap: 60px;
		margin-bottom: 60px;
	}
	.footer__logo {
		width: 38px;
		height: 38px;
	}
	.footer__links {
		margin: 0;
	}
}
@media (max-width: 390px) {
	.biography {
		background-position: calc((100% - 0px) / 2) 660px;
	}
	/* ABOUT */
	.about__images {
		height: 450px;
	}
	.about__img-2 {
		top: 165px;
	}
	.about__img-3 {
		right: auto;
		left: 30px;
	}
	/* EDUCATION */
	.education__skills {
		background-size: 250px;
		max-width: 250px;
	}
	.education-skills__title {
		top: 129px;
		left: 84px;
	}
	.education__item:nth-child(1) {
		left: 15px;
	}
	.education__item:nth-child(2) {
		top: 40px;
		right: 75px;
	}
	.education__item:nth-child(3) {
		width: 66px;
		height: 66px;
		top: 110px;
		right: 15px;
	}
	.education__item:nth-child(4) {
		bottom: 55px;
	}
	.education__item:nth-child(5) {
		right: 100px;
		bottom: 20px;
	}
	.education__item:nth-child(6) {
		bottom: 85px;
		left: 0;
	}
	/* FOOTER */
	.footer__links {
		gap: 50px;
		justify-content: space-between;
	}
}
