.main {
	flex-grow: 1;
}
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
/* HEADER */
.header {
	margin-bottom: 100px;
	padding: 20px 0px;
}
.header__nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.nav__list-links {
	display: flex;
	gap: 78px;
}
.nav__link {
	color: var(--color-primary-900);
}
.nav__list-socials {
	display: none;
}
/* Бургер меню стили */
.burger-menu {
	display: none;
}
/* MAIN */
/* HERO */
.hero {
	display: flex;
	flex-direction: column;
	gap: 120px;
}
.hero__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 15px;
}
.hero__info {
	max-width: 413px;
	display: flex;
	flex-direction: column;
	gap: 80px;
}
.hero__text {
	font-size: var(--font-size-subtitle);
}
.hero__img {
	width: 413px;
	height: 221px;
}
.button-primary {
	display: flex;
	color: var(--color-white);
	width: 248px;
}
.button__text-primary {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--color-primary-900);
	width: 194px;
	padding: 14px 32px;
	border-radius: 60px;
	transition: all var(--transition-duration) var(--transition-animation);
}
.button__img-primary {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 54px;
	height: 54px;
	background-color: var(--color-accent);
	border-radius: 50%;
	transition: all var(--transition-duration) var(--transition-animation);
}
.button__icon-primary {
	width: 12px;
	height: 12px;
	fill: var(--color-white);
	transition: all var(--transition-duration) var(--transition-animation);
}
