.main {
	flex-grow: 1;
}
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
/* HEADER */
.header {
	margin-bottom: 100px;
	padding: 20px 0px;
}
.header__nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.nav__list-links {
	display: flex;
	gap: 78px;
}
.nav__link {
	color: var(--color-primary-900);
}
.nav__list-socials {
	display: none;
}
/* Бургер меню стили */
.burger-menu {
	display: none;
}
/* MAIN */
/* HERO */
.hero {
	margin-bottom: 120px;
}
.hero__wrapper {
	display: flex;
	flex-direction: column;
	gap: 120px;
}
.hero__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 15px;
}
.hero__info {
	max-width: 413px;
	display: flex;
	flex-direction: column;
	gap: 80px;
}
.hero__text {
	font-size: var(--font-size-subtitle);
}
.hero__img {
	width: 413px;
	height: 221px;
}
.button-primary {
	display: flex;
	color: var(--color-white);
	width: 248px;
}
.button__text-primary {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--color-primary-900);
	width: 100%;
	padding: 14px 32px;
	border-radius: 60px;
	transition: all var(--transition-duration) var(--transition-animation);
}
.button__img-primary {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 54px;
	height: 54px;
	background-color: var(--color-accent);
	border-radius: 50%;
	transition: all var(--transition-duration) var(--transition-animation);
	flex-shrink: 0;
}
.button__icon-primary {
	width: 12px;
	height: 12px;
	fill: var(--color-white);
	transition: all var(--transition-duration) var(--transition-animation);
}
/* BIOGRAPHY */
.biography {
	background: url("../img/icons/decor-bg.png") no-repeat calc((100% - 795px) / 2) top;
	margin-bottom: 130px;
}
/* ABOUT */
.about {
	padding: 80px 0px 168px;
	margin-bottom: 32px;
}
.about__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}
.about__images {
	position: relative;
	height: 401px;
	width: 522px;
}
.about__img {
	position: absolute;
}
.about__img-1 {
	top: 0;
	left: 0;
	width: 197px;
	height: 202px;
}
.about__img-2 {
	top: 30px;
	right: 0;
	width: 197px;
	height: 125px;
}
.about__img-3 {
	right: 0;
	left: 210px;
	bottom: 0;
	width: 196px;
	height: 190px;
	object-fit: cover;
	border-radius: 16px;
}
.about__info {
	width: 630px;
}
.about__title {
	margin-bottom: 30px;
}
.about__text {
	margin-bottom: 60px;
}
/* EDUCATION */
.education__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.education__info {
	max-width: 522px;
}
.education-info__title {
	margin-bottom: 30px;
}
.education__text {
	margin-bottom: 60px;
}
.education__skills {
	position: relative;
	background: url("../img/icons/education-decor-bg.png") no-repeat center center;
	height: 675px;
	max-width: 722px;
	width: 100%;
	flex-shrink: 0;
}
.education-skills__title {
	font-size: var(--font-size-h3);
	position: absolute;
	top: 250px;
	left: 280px;
	width: 170px;
	height: 170px;
	padding: 70px 39px;
	border-radius: 300px;
	background-color: var(--color-accent);
}
.education__item {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	position: absolute;
	font-weight: var(--font-weight-medium);
	line-height: var(--line-height-default);
	color: var(--color-primary-900);
	padding: 10px 15px;
	border-radius: 164px;
	background-color: var(--color-primary-200);
}
.education__item:nth-child(1) {
	font-size: 9px;
	width: 98px;
	height: 98px;
	top: 100px;
	left: 180px;
}
.education__item:nth-child(2) {
	font-size: 8px;
	width: 87px;
	height: 87px;
	top: 0;
	right: 175px;
}
.education__item:nth-child(3) {
	font-size: 7px;
	width: 75px;
	height: 75px;
	top: 215px;
	right: 100px;
}
.education__item:nth-child(4) {
	font-size: 9.5px;
	width: 110px;
	height: 110px;
	right: 35px;
	bottom: 90px;
}
.education__item:nth-child(5) {
	font-size: 7.5px;
	width: 88px;
	height: 88px;
	right: 300px;
	bottom: 65px;
}
.education__item:nth-child(6) {
	font-size: 9.5px;
	width: 110px;
	height: 110px;
	bottom: 110px;
	left: 30px;
}
/* PORTFOLIO */
.portfolio {
	margin-bottom: 200px;
}
.portfolio__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 60px;
}
.button__text-secondary {
	color: var(--color-accent);
	background-color: inherit;
	border: 1px solid var(--color-accent);
	padding: 0;
}
.portfolio__cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}
.portfolio__card {
	display: flex;
	flex-direction: column;
	max-width: 414px;
	padding: 24px;
	background-color: var(--color-white);
	box-shadow: 0px 0px 1px 0px rgba(159, 159, 159, 0.25);
	border-radius: 24px;
}
.portfolio-card__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	margin-bottom: 32px;
}
.portfolio-card__main {
	flex-grow: 1;
}
.portfolio-card__img {
	border-radius: 8px;
	object-fit: cover;
	height: 217px;
	margin-bottom: 32px;
}
.portfolio-card__text {
	margin-bottom: 35px;
}
.portfolio-card__footer {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.portfolio-footer__items {
	display: flex;
	gap: 8px;
}
.portfolio-footer__item {
	font-size: var(--font-size-card-text);
	color: var(--color-primary-400);
	border: 1px solid var(--color-primary-400);
	border-radius: 100px;
	padding: 4px 8px;
	line-height: 15px;
}
.portfolio-footer__link {
	font-size: var(--font-size-card-text);
	color: var(--color-accent);
	font-weight: var(--font-weight-semibold);
	text-transform: uppercase;
	border-bottom: 1px solid var(--color-accent);
	line-height: 15px;
	transition: all var(--transition-duration) var(--transition-animation);
}
/* SERVICES */
.services__title {
	margin-bottom: 60px;
}
.services__cards {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-items: center;
	gap: 20px;
	counter-reset: services-card-number;
}
.services__card {
	display: flex;
	flex-direction: column;
	max-width: 350px;
	padding: 24px;
	border-radius: 30px;
	background-color: var(--color-primary-900);
}
.services-card__title {
	counter-increment: services-card-number;
	font-family: var(--font-family-h1);
	font-size: var(--font-size-card-heading);
	font-weight: var(--font-weight-regular);
	color: var(--color-primary-100);
	margin-bottom: 100px;
}
.services-card__title::before {
	content: "(" counter(services-card-number) ")";
	letter-spacing: 10px;
}
.services__content {
	flex-grow: 1;
	margin-bottom: 42px;
}
.services-content__title {
	color: var(--color-primary-100);
	margin-bottom: 20px;
}
.services-content__text {
	color: var(--color-primary-400);
	font-size: var(--font-size-card-text);
	font-weight: var(--font-weight-medium);
	line-height: 1.5;
}
.services__button.button-primary {
	width: 100%;
}
/* CONTACTS */
.contacts {
}
.contacts__wrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 20px;
}
.contacts__social {
	max-width: 330px;
	grid-area: 1 / 1 / 2 / 2;
}
.contacts__form {
	grid-area: 1 / 2 / 3 / 3;
}
.contacts__info {
	max-width: 330px;
	grid-area: 2 / 1 / 3 / 2;
}

/* FOOTER */
