.main {
	flex-grow: 1;
}
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
/* HEADER */
.header {
	margin-bottom: 100px;
	padding: 20px 0px;
}
.header__nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.nav__list-links {
	display: flex;
	gap: 78px;
}
.nav__link {
	color: var(--color-primary-900);
}
.nav__list-socials {
	display: none;
}
/* Бургер меню стили */
.burger-menu {
	display: none;
}
/* MAIN */
/* HERO */
.hero {
	margin-bottom: 120px;
}
.hero__wrapper {
	display: flex;
	flex-direction: column;
	gap: 120px;
}
.hero__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 15px;
}
.hero__info {
	max-width: 413px;
	display: flex;
	flex-direction: column;
	gap: 80px;
}
.hero__text {
	font-size: var(--font-size-subtitle);
}
.hero__img {
	width: 413px;
	height: 221px;
}
.button-primary {
	display: flex;
	color: var(--color-white);
	width: 248px;
}
.button__text-primary {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--color-primary-900);
	width: 194px;
	padding: 14px 32px;
	border-radius: 60px;
	transition: all var(--transition-duration) var(--transition-animation);
}
.button__img-primary {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 54px;
	height: 54px;
	background-color: var(--color-accent);
	border-radius: 50%;
	transition: all var(--transition-duration) var(--transition-animation);
}
.button__icon-primary {
	width: 12px;
	height: 12px;
	fill: var(--color-white);
	transition: all var(--transition-duration) var(--transition-animation);
}
/* BIOGRAPHY */
.biography {
	padding-top: 80px;
	background: url("../img/icons/decor-bg.png") no-repeat calc((100% - 795px) / 2) top;
}
/* ABOUT */
.about {
}
.about__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}
.about__images {
	position: relative;
	height: 401px;
	width: 522px;
}
.about__img {
	position: absolute;
}
.about__img-1 {
	top: 0;
	left: 0;
	width: 197px;
	height: 202px;
}
.about__img-2 {
	top: 30px;
	right: 0;
	width: 197px;
	height: 125px;
}
.about__img-3 {
	right: 0;
	left: 210px;
	bottom: 0;
	width: 196px;
	height: 190px;
	object-fit: cover;
	border-radius: 16px;
}
.about__info {
	width: 630px;
}
.about__title {
	margin-bottom: 30px;
}
.about__text {
	margin-bottom: 60px;
}
.about__button {
}
/* SKILLS */
.skills {
}
