.main {
	flex-grow: 1;
}
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
/* HEADER */
.header {
	padding: 20px 0px;
}
.header__nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.nav__list-links {
	display: flex;
	gap: 78px;
}
.nav__link {
	color: var(--color-primary-900);
}
.nav__list-socials {
	display: none;
}
/* Бургер меню стили */
.burger-menu {
	display: none;
}
