html {
	scroll-behavior: smooth;
}
.main {
	flex-grow: 1;
}
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	margin-top: 169px;
}
/* HEADER */
.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	background-color: rgba(239, 239, 239, 0.9);
	padding: 20px 0px;
}
.header__nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.nav__list-links {
	display: flex;
	gap: 78px;
}
.header__link {
	color: var(--color-primary-900);
}
.nav__list-socials {
	display: none;
}
/* Бургер меню стили */
.burger-menu {
	display: none;
}
/* MAIN */
#hero-section,
#biography-section,
#about-section,
#education-section,
#portfolio-section,
#services-section,
#contacts-section {
	scroll-margin-block: 100px;
}
/* HERO */
.hero {
	margin-bottom: 120px;
}
.hero__wrapper {
	display: flex;
	flex-direction: column;
	gap: 80px;
}
.hero__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 15px;
}
.hero__info {
	max-width: 360px;
	display: flex;
	flex-direction: column;
	gap: 80px;
}
.hero__text {
	font-size: var(--font-size-subtitle);
}
.hero__img {
	width: 413px;
	height: 221px;
}
.button-primary {
	display: flex;
	color: var(--color-white);
	width: 248px;
}
.button__text-primary {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--color-primary-900);
	width: 100%;
	padding: 14px 32px;
	border-radius: 60px;
	transition: all var(--transition-duration) var(--transition-animation);
}
.button__img-primary {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 54px;
	height: 54px;
	background-color: var(--color-accent);
	border-radius: 50%;
	transition: all var(--transition-duration) var(--transition-animation);
	flex-shrink: 0;
}
.button__icon-primary {
	width: 12px;
	height: 12px;
	fill: var(--color-white);
	transition: all var(--transition-duration) var(--transition-animation);
}
/* BIOGRAPHY */
.biography {
	background: url("../img/icons/decor-bg.png") no-repeat calc((100% - 795px) / 2) top;
	margin-bottom: 123px;
}
/* ABOUT */
.about {
	padding: 80px 0px 91px;
	margin-bottom: 33px;
}
.about__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}
.about__images {
	position: relative;
	height: 401px;
	width: 522px;
}
.about__img {
	position: absolute;
}
.about__img-1 {
	top: 10px;
	left: 0;
	width: 197px;
	height: 202px;
}
.about__img-2 {
	top: 33px;
	right: 0;
	width: 197px;
	height: 125px;
}
.about__img-3 {
	right: 0;
	left: 217px;
	bottom: 0;
	width: 196px;
	height: 190px;
	object-fit: cover;
	border-radius: 16px;
}
.about__info {
	width: 630px;
}
.about__title {
	margin-bottom: 30px;
}
.about__text {
	margin-bottom: 63px;
}
/* EDUCATION */
.education__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.education__info {
	max-width: 522px;
}
.education-info__title {
	margin-bottom: 30px;
}
.education__text {
	margin-bottom: 63px;
}
.education__skills {
	position: relative;
	background: url("../img/icons/education-decor-bg.png") no-repeat center center;
	height: 675px;
	max-width: 722px;
	width: 100%;
	flex-shrink: 0;
}
.education-skills__title {
	font-family: var(--font-family-h1);
	font-size: var(--font-size-h3);
	line-height: 1.1;
	position: absolute;
	top: 250px;
	left: 276px;
	width: 170px;
	height: 170px;
	padding: 70px 0px;
	border-radius: 300px;
	background-color: var(--color-accent);
	text-align: center;
}
.education__item {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	position: absolute;
	font-weight: var(--font-weight-medium);
	line-height: var(--line-height-default);
	color: var(--color-primary-900);
	padding: 10px 15px;
	border-radius: 164px;
	background-color: var(--color-primary-200);
}
.education__item:nth-child(1) {
	font-size: 9px;
	width: 98px;
	height: 98px;
	top: 106px;
	left: 174px;
}
.education__item:nth-child(2) {
	font-size: 8px;
	width: 87px;
	height: 87px;
	top: -1px;
	right: 172px;
}
.education__item:nth-child(3) {
	font-size: 7px;
	width: 75px;
	height: 75px;
	top: 222px;
	right: 97px;
}
.education__item:nth-child(4) {
	font-size: 9.5px;
	width: 110px;
	height: 110px;
	right: 34px;
	bottom: 95px;
}
.education__item:nth-child(5) {
	font-size: 7.5px;
	width: 88px;
	height: 88px;
	right: 301px;
	bottom: 62px;
}
.education__item:nth-child(6) {
	font-size: 9.5px;
	width: 110px;
	height: 110px;
	bottom: 95px;
	left: 37px;
}
/* PORTFOLIO */
.portfolio {
	margin-bottom: 200px;
}
.portfolio__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 60px;
}
.button__text-secondary {
	color: var(--color-accent);
	background-color: inherit;
	border: 1px solid var(--color-accent);
	padding: 0;
}
.portfolio__cards {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}
.portfolio__card {
	display: flex;
	flex-direction: column;
	max-width: 414px;
	padding: 24px;
	background-color: var(--color-white);
	box-shadow: 0px 0px 1px 0px rgba(159, 159, 159, 0.25);
	border-radius: 24px;
}
.portfolio-card__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	margin-bottom: 30px;
}
.portfolio-card__main {
	flex-grow: 1;
}
.portfolio-card__img {
	border-radius: 8px;
	object-fit: cover;
	height: 217px;
	margin-bottom: 32px;
}
.portfolio-card__text {
	margin-bottom: 35px;
	min-height: 77px;
}
.portfolio-card__footer {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.portfolio-footer__items {
	display: flex;
	gap: 8px;
}
.portfolio-footer__item {
	font-size: var(--font-size-card-text);
	color: var(--color-primary-400);
	border: 1px solid var(--color-primary-400);
	border-radius: 100px;
	padding: 5px 8px;
	line-height: 15px;
}
.portfolio-footer__link {
	font-size: var(--font-size-card-text);
	color: var(--color-accent);
	font-weight: var(--font-weight-semibold);
	text-transform: uppercase;
	border-bottom: 1px solid var(--color-accent);
	line-height: 1;
	transition: all var(--transition-duration) var(--transition-animation);
	padding-bottom: 3px;
}
/* SERVICES */
.services {
	margin-bottom: 200px;
}
.services__title {
	margin-bottom: 60px;
}
.services__cards {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-items: center;
	gap: 20px;
	counter-reset: services-card-number;
}
.services__card {
	display: flex;
	flex-direction: column;
	max-width: 350px;
	padding: 24px;
	border-radius: 30px;
	background-color: var(--color-primary-900);
}
.services-card__title {
	counter-increment: services-card-number;
	font-family: var(--font-family-h1);
	font-size: var(--font-size-card-heading);
	font-weight: var(--font-weight-regular);
	color: var(--color-primary-100);
	margin-bottom: 98px;
}
.services-card__title::before {
	content: "(" counter(services-card-number) ")";
	letter-spacing: 6px;
}
.services__content {
	flex-grow: 1;
	margin-bottom: 40px;
}
.services-content__title {
	color: var(--color-primary-100);
	margin-bottom: 19px;
}
.services-content__text {
	color: var(--color-primary-400);
	font-size: var(--font-size-card-text);
	font-weight: var(--font-weight-medium);
	min-height: 58px;
}
.services__button.button-primary {
	width: 100%;
}
/* CONTACTS */
.contacts {
	background: url("../img/icons/education-decor-bg.png") no-repeat calc((100% - 1105px) / 2) 315px;
	background-size: 684px;
	padding-bottom: 200px;
}
.contacts__wrapper {
	display: grid;
	grid-template-columns: 32.3% 1fr;
	column-gap: 20px;
}
.contacts__social {
	max-width: 330px;
	grid-area: 1 / 1 / 3 / 2;
}
.social__title {
	margin-bottom: 20px;
	max-width: 300px;
}
.social__text {
	margin-bottom: 40px;
}
.contacts__feedback {
	grid-area: 1 / 2 / 3 / 3;
}
.feedback__title {
	margin-bottom: 40px;
}
.feedback__form {
	display: flex;
	flex-direction: column;
}
.feedback__label {
	font-size: var(--font-size-forms);
	font-weight: var(--font-weight-semibold);
	margin-bottom: 10px;
	text-transform: capitalize;
}
.feedback-label__text-normal {
	text-transform: none;
}
.feedback__input {
	border-radius: 100px;
	margin-bottom: 21px;
}
.feedback__input,
.feedback__textarea {
	padding: 12px 24px;
	border: none;
	box-shadow: 0px 0px 1px 0px rgba(159, 159, 159, 0.25);
	line-height: 1.3;
}
.feedback__input::placeholder,
.feedback__textarea::placeholder {
	color: var(--color-primary-400);
	font-size: var(--font-size-forms);
	font-weight: var(--font-weight-regular);
}
.feedback__input:focus,
.feedback__textarea:focus {
	outline: 1px solid var(--color-primary-900);
}
.feedback__input:user-invalid,
.feedback__textarea:user-invalid {
	outline: 1px solid var(--color-red-error);
}
.feedback__textarea {
	border-radius: 20px;
	height: 240px;
	margin-bottom: 40px;
	resize: none;
}
.contacts__info {
	max-width: 330px;
	grid-area: 2 / 1 / 3 / 2;
}
.contacts__info {
	font-style: normal;
}
.contacts-info__list {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.contacts-info__item {
	font-size: var(--font-size-forms);
	font-weight: var(--font-weight-semibold);
}
.contacts-info__link {
	color: var(--color-primary-500);
}
/* FOOTER */
.footer {
	padding: 80px 0px 40px;
	background-color: var(--color-white);
	border-radius: 20px 20px 0px 0px;
}
.footer__logo {
	width: 88px;
	height: 88px;
}
.footer__wrapper {
	display: flex;
	gap: 20px;
	margin-bottom: 104px;
}
.footer__links {
	display: flex;
	gap: 135px;
	margin: 0 auto;
}
.footer-nav__list,
.footer__socials {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.footer-nav__link,
.footer-social__link {
	color: var(--color-primary-900);
	transition: all var(--transition-duration) var(--transition-animation);
}
.footer__copyright {
	color: var(--color-primary-500);
}
