.body {
	font-family: "Montserrat", sans-serif;
	color: var(--color-primary-900);
}
.container {
	max-width: 1300px;
	padding: 0px 10px;
	margin: 0 auto;
}
h1 {
	font-family: "Zen Dots", sans-serif;
}
h2 {
}
