.body {
	font-family: "Montserrat", sans-serif;
	color: var(--color-primary-900);
	font-size: var(--font-size-default);
	font-weight: var(--font-weight-regular);
	line-height: var(--line-height-default);
	background-color: var(--color-primary-100);
}
.container {
	max-width: 1320px;
	padding: 0 var(--padding-container);
	margin: 0 auto;
}
h1 {
	font-family: "Zen Dots", sans-serif;
	font-size: clamp(var(--font-size-h1-mobile), 10.5vw, var(--font-size-h1));
	font-weight: var(--font-weight-regular);
	line-height: var(--line-height-h1);
}
h2,
h3,
h4,
h5,
h6 {
	text-transform: uppercase;
}
h2 {
	font-size: var(--font-size-h2);
	font-weight: var(--font-weight-bold);
	letter-spacing: 0.4px;
}
h4 {
	/* title cards */
	font-size: var(--font-size-card-heading);
	font-weight: var(--font-weight-semibold);
	line-height: 1;
	text-transform: none;
}
.cards p,
.small-text {
	font-size: var(--font-size-card-text);
	font-weight: var(--font-weight-medium);
	color: var(--color-primary-500);
	line-height: var(--line-height-default);
}
/* SOCIALS ICONS */
.socials__list {
	display: flex;
	gap: 20px;
}
.social__link {
	display: flex;
}
.social-icon {
	width: 40px;
	height: 40px;
}
