.body {
	font-family: "Montserrat", sans-serif;
	color: var(--color-primary-900);
}
.container {
	max-width: 1320px;
	padding: 0 var(--padding-container);
	margin: 0 auto;
}
h1 {
	font-family: "Zen Dots", sans-serif;
	font-size: clamp(var(--font-size-h1-mobile), 10.5vw, var(--font-size-h1));
	font-weight: var(--font-weight-regular);
}
